* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --eerie-black: #1B1B1B;
    --chocolate-black: #28231D;

    --gradient-color-1: #ffbe6f;
    --gradient-color-2: #99c1f1;
    --gradient-color-3: #ffffff;
    --gradient-color-4: #dc8add;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--font-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
    --svg-white: invert(100%) sepia(2%) saturate(10%) hue-rotate(14deg) brightness(101%) contrast(100%);
    --gradient-color-1: #f66151;
    --gradient-color-2: #0491e3;
    --gradient-color-3: #dc8add;
    --gradient-color-4: #f8e45c;
}

html, body, #root {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--default-bg-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

#root {
    isolation: isolate;
}

a {
    font-weight: 500;
    text-decoration: none;
}

h1, h2, h3, p {
    text-wrap: balance;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.theme-switcher {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.theme-switcher input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-switcher .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ccc;
    transition: .4s;
}

.theme-switcher .slider:before {
  position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0;
    bottom: 4px;
    top: 0;
    margin: auto 0;
    transition: .4s;
    box-shadow: 0 0 15px #2020203d;
    background: white url("/moon.png") no-repeat center;
}

.theme-switcher input:checked + span.slider {
    box-shadow: 0 0 1px #333;
}

.theme-switcher input:checked + span.slider:before {
    background: white url("/sunny.png") no-repeat center;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#gradient-canvas {
    width:100%;
    height:100%;
}

.light {
    --font-color: #333;
    --default-bg-color: #F5F3F3;
}

.dark {
    --font-color: #ffff;
    --default-bg-color: #242124;
}

