.projects {
  width: 100%;
  /*height: fit-content;*/
  height: 60rem;
  max-height: 60vh;

  max-width: 1380px;
  margin: 0 auto;
}

.projects .me-coding {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  max-width: 700px;
  height: 100%;

  background: url("/me_coding.png") bottom no-repeat;
  background-size: contain;

  border-radius: 40%;
}

@media (max-width: 780px) {
  .projects .me-coding {
    bottom: 0;
    top: unset;

    height: 60%;
  }
}
